@import "nav.css";

main {
    padding-top: 100px;
    margin: 0 15%;
}

.img-container {
    /* border: 1px solid rgb(212, 12, 12); */
    display: flex;
    flex-wrap: wrap;
    /* Enable wrapping when the container is too narrow */
    justify-content: center;
    padding: 2% 5%;
}

.img-container .img-item {
    flex: 0 0 1;
    /* Adjust the width of each item */
    max-width: 90%;
    /* Set maximum width for each item */
    text-align: center;
    margin: 1% 20px;
}

img {
    width: 100%;
    max-width: 15em;
    /* Set a maximum width for the images */
    height: 100%;
    border-radius: 10%;

}

img:hover {
    box-shadow: 5px 0 5px #eaeaea;
    cursor: pointer;

}

/* Media query to change layout when the screen width is below a certain size */
@media (max-width: 768px) {
    .img-container .img-item {
        flex: 0 0 1;
        /* Adjust width for smaller screens */
        max-width: 90%;
    }
}


.text-area {

    margin-top: 1%;
}

#brand-title {

    margin: auto;
    width: 50%;
    left: 98px;
    top: 412px;
    text-align: center;

}

p {
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 1%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;


    color: #000000;
}

.button {
    margin: 2% auto;
    height: 40px;
    width: 120px;
    transition: all ease-in-out 250ms;
}


.button a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 12px;

    color: white;
    background-color: #2b9800;
    font-weight: 700;
    text-decoration: none;
    transition: all ease-in-out 250ms;
}

.button:hover {

    transition: all 0.5s ease;
    width: 150px;
    /* Adjust the width to your desired expanded size */
}

.button a:hover {
    color: rgb(255, 255, 255);
    transition: all 0.5s ease;
    text-decoration: none;
}