@import "nav.css";


main {
    padding-top: 100px;
    margin: 0 15%;
    border: 1px solid black;
}



.img-container {
    border: 1px solid rgb(212, 12, 12);
    display: inline-flex;
    padding: 2% 5%;


}


.img-container .img-item {

    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% 20px;

}

img {

    width: 15em;
    height: 100%;
    border-radius: 10%;
}