*{
    box-sizing: border-box;
}

:root{
    --imgWidth: 100%;
    --h1TextSize: 36px;
    --introColumnGap: 15px;
}


.profile-pic img {
    width: var(--imgWidth);
    border-radius: 10%;
    object-fit: contain;
    box-shadow: 15px 15px rgb(173, 216, 230);
}

.intro{
    /* background-color: rgba(145, 145, 233, 0.562); */
    height: 700px;


}

.intro .container{
    height: 400px;
    display: grid;
    grid-template-areas: "block block";
    grid-template-columns: 1fr 1.5fr;
    column-gap: var(--introColumnGap);
}

.intro .block {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    padding: 5%;

}

.intro .text h1, h3, p{
    font-family: 'Inter',sans-serif;
    margin-top: 20px;
}

.intro .text h1{
    font-size: var(--h1TextSize);    
    
}

.intro .highlight{
    background-color: #BCC1BA;
    box-shadow: 15px 15px #888c86;
}

.intro .text h3{
    font-size: 18px;
    
}

.intro .p{
    font-size: 16px;
}

.intro .block .downArrow{
    width: 4%;
}


.direct{
    font-family: 'Inter',sans-serif;
    color:rgb(0, 0, 0);
    text-align: center;
    width: 40%;
    background-color: #BCC1BA;
    border-radius: 5px;
    text-decoration:none;
    text-align: center;
    padding-left: 10px;

}

.direct:hover{
    /* background-color: #888c86; */
    box-shadow: 5px 5px #888c86;
}




@media screen and (max-width: 640px) {
    :root{
        --imgWidth: 200px;
        --h1TextSize: 3.5vw;
    }
    .intro .highlight{
        box-shadow: 8px 8px #888c86;
        
    }
    .direct{
        text-align: center;
        width: 70%;
        background-color: #BCC1BA;
        border-radius: 5px;
    }
}
